@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-body: #eaecf0;
  --color-sidebar: #fcfcfc;
  --color-border: #f0f0f0;
  --color-main: #111827;
  --color-secondary: #6b7280;
  --color-tertiary: #9ca3af;
  --color-primary-blue: #2563eb;
  --color-accent-blue: #3b82f6;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
